ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 50%;
    margin-left: 25%;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    align-content: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}